/* width */

::-webkit-scrollbar {
  width: 3px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #00000083;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 3px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

